---
import Section from "../Section.astro";
import Git from "@/icons/Git.astro";
import GitHub from "@/icons/GitHub.astro";
import Office from "@/icons/Office.astro";
import Excel from "@/icons/Excel.astro";
import { skills } from "@cv";

const SKILLS_ICONS: Record<string, any> = {  
  Git,
  GitHub,
  Office,
  Excel
};
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
